<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link rel="stylesheet" type="text/css" href="stylesheets/screen.css" />

	<title>Torrito</title>

</head>
<body class="container">

	<div class="main">

		<div class="prepend-1 span-10 append-1 headingCol right">
			<h1>Torrito</h1>
		</div>

		<div class="prepend-1 span-10 append-1 last headingCol">
			Find out, how much was your torrent downloaded.
		</div>

        <form action="/search" method="get">
		    <input class="span-19" name="q" style="margin: 1.5em 10px 1.5em 40px;" type="text" />
		    <input class="last" style="width: 110px; margin-top: 1.5em; padding: 1px 0px 1px 0px;" type="submit" value="Search" />
        </form>

	</div>

</body>
</html>
