<% if @results.empty? %>
    <%= 'sorry' %>
<% else %>
    <ul>
        <% @results.each do |torrent| %>
            <li class="torrentRow"><%= link_to torrent.title, "/t/#{torrent.id}" %></li>
        <% end %>
    </ul>
    <%= will_paginate @results, :param_name => 'p' %>
<% end %>
