body {
	margin: 0px 32px 0px 32px;
	font-family: Cambria, "Times New Roman", serif;
}
a img {
    border-width: 0px;
}
.container {
	width: 960px;
}
.header {
	padding: 24px 0px 20px 32px;
	background-color: #DDDDFF;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-bottomright: 16px;
}
.headerTitle {
	float: left;
	margin-right: 50px;
	width: 270px;
	height: 60px;
}
.headerSearch {
	height: 30px;
	margin-top: 30px;
}
.content {
	margin: 16px 0px 16px 0px;
	padding: 16px;
}
.content h2 {
	margin: 0px 0px 24px 0px;
	color: #000e59;
	font-size: 18pt;
}
.searchResults {
    position: relative;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.searchResults li {
    padding: 3px 8px 3px 8px;
    border-bottom: 1px solid #EEEEFF;
    display: table;
    width: 912px;
}
.searchResults li:hover {
    background-color: #EEEEFF;
}
.searchResults a {
    color: #000000;
    text-decoration: none;
}
.searchResults a:hover {
    color: #000E59;
    text-decoration:underline;
}
.searchResults .tags {
    font-size: 10pt;
    color: #AAAAAA;
    margin-right: 10px;
}
.searchResults .right {
    display: table-cell;
    text-align: right;
}
.details1 {
	background-color:#DDDDFF;
	padding: 8px 24px 16px 24px;
	-moz-border-radius: 8px;
	width: 256px;
	margin-right: 32px;
	float: left;
}
.details1 h3 {
	color: #000e59;
	font-weight: bold;
	margin: 0px;
	margin-top: 8px;
	font-size: 13pt;
}
.details1 p {
	margin: 0px 16px 0px 16px;
	padding: 0px;
	text-align:justify;
}
.details2 {
	padding: 16px 16px 16px 24px;
	float:left;
	/*background-color: #DDDDFF;*/
	text-align:right;
	width: 416px;
}
.details2 h4 {
	display:inline;
	margin: 0px;
	padding: 0px;
	font-size: 24pt;
}
.details2 h5 {
	display:inline;
	margin: 0px;
	line-height: 16px;
	font-size: 20pt;
	font-weight:normal;
}
.details3 {
	padding:16px 24px 16px 0px;
	width: 112px;
	font-weight: bold;
	font-size: 24pt;
	float:left;
	text-align:right;
}
.details3 .seed {
	color: #00FF00;
}
.details3 .leech {
	color: #0000FF;
}
.details3 .rank {
    color: #AAAAAA;
}
.footer {
	background-color:#DDDDFF;
	padding: 16px 32px 10px 32px;
	-moz-border-radius-topleft: 16px;
	-moz-border-radius-topright: 16px;
	text-align:center;
}
.pagination {
    text-align: right;
    margin-top: 16px;
    font-size: 14pt;
}
.pagination * {
    padding: 2px 3px 2px 3px;
    min-width: 32px;
}
.pagination a {
    color: #000E59;
}
.showgrid {
	background-image: url('/images/grid.png');
}
.graph {
	width: 928px;
	height: 300px;
	margin-bottom: 24px;
}
.dateSelector {
    text-align: right;
    padding-right: 32px;
}
.dateSelector input {
    width: 80px;
    margin-right: 8px;
}
.dateSelector img {
    cursor: pointer;
}