body {
	margin: 0px 20px 10px 20px;
}
.container {
	width: 950px;
}
.header {
	padding: 20px 40px 20px 40px;
}
.headerTitle {
	float: left;
	margin-right: 50px;
	width: 270px;
	height: 60px;
}
.headerSearch {
	height: 30px;
	margin-top: 30px;
}

.content {
	margin-top: 20px;
}
.content h2 {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 15pt;
}
.showgrid {
	background-image: url('/images/grid.png');
}
